---
import { getCollection } from "astro:content";
import Link from "@/components/link.astro";
import Layout from "@/layouts/default.astro";

const recipes = await getCollection("recipes");
---

<Layout metadata={{ title: "Recipes", description: "A collection recipes." }}>
  <h1>Recipes</h1>
  <ul>
    {
      recipes.map((recipe) => (
        <li>
          <Link href={`/recipes/${recipe.id}/`}>{recipe.data.metadata.title}</Link>
        </li>
      ))
    }
  </ul>
</Layout>
