---
type Props = {
	metadata: {
		title: string;
		description: string;
	};
};

const {
	metadata: { title, description },
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <link rel="icon" type="image/x-icon" href="/favicon.svg" />
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
